
body {
  font-family: 'Roboto';
}
h1,
h2,
h3 {
  font-family: "Roboto"; /* Fuente para encabezados */
}

h4,
h5,
h6 {
  font-family: "Roboto"; /* Fuente para subtítulos */
}

p {
  font-family: "Roboto"; /* Fuente para párrafos */
}

em {
  font-family: "Roboto"; /* Fuente para texto destacado */
}

strong {
  font-family: "Roboto"; /* Fuente para texto importante */
}

label {
  font-family: "Roboto"; /* Fuente para etiquetas */
  font-weight: 500;
}
