@import "~normalize.css/normalize.css";
@import "~primeflex/primeflex.css";
@import "~primeicons/primeicons.css";

@import "~primereact/resources/primereact.min.css";

@import "~primereact/resources/themes/mdc-light-deeppurple/theme.css";
// @import "~react-datepicker/dist/react-datepicker.css";
@import "~ckeditor5/ckeditor5.css";
@import "~react-big-calendar/lib/css/react-big-calendar.css";

@import "styles/typography.scss";
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
#__next {
  height: 100vh;
}

body {
  height: 100%;
}

// @layer utilities {
//   .text-balance {
//     text-wrap: balance;
//   }
// }
// .rbc-day-slot.rbc-time-column {
//   min-width: 10rem;
// }
// .rbc-header {
//   min-width: 10rem;
// }
// .rbc-day-bg {
//   min-width: 10rem;
// }
.prueba1 {
  background-color: red !important;
  border: 1px solid red !important;
  font-weight: bold;
}
