@import "~normalize.css/normalize.css";
@import "~primeflex/primeflex.css";
@import "~primeicons/primeicons.css";

@import "~primereact/resources/primereact.min.css";

@import "~primereact/resources/themes/mdc-light-deeppurple/theme.css";
@import "~react-datepicker/dist/react-datepicker.css";
@import "~ckeditor5/ckeditor5.css";
@import "~react-big-calendar/lib/css/react-big-calendar.css";
@import 'styles/overrides/index.scss';
@import "styles/typography.scss";
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
#__next {
  height: 100vh;
}

body {
  height: 100%;
}

.rbc-header > * {
  font-weight: bold !important;
  text-transform: uppercase !important;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.rbc-toolbar-label {
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.rbc-events-container {
  cursor: pointer;
}

.rbc-day-bg {
  cursor: pointer;
}

.rbc-row-content {
  cursor: pointer;
}

.rbc-event-label {
  display: none;
}

.rbc-allday-cell {
  display: none;
}
