.fc-event-resizer.fc-event-resizer-end {
  display: none !important;
}

.fc-event-time {
  display: none;
}

.fc-event-title {
  font-size: 0.9rem;
  .fc-event-icon {
    font-size: 0.7rem;
  }
  @media (max-width: 768px) {
    font-size: 0.85rem; // Ajuste del tamaño de fuente para pantallas pequeñas
  }

  @media (max-width: 480px) {
    font-size: 0.7rem; // Ajuste del tamaño de fuente para pantallas muy pequeñas
  }
}

.fc-header-toolbar {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.fc-view-harness {
  margin-top: -1rem;
  padding-top: -1rem;
}

.fc-button {
  @media (max-width: 768px) {
    font-size: 0.85rem !important;
    padding: 0.2rem !important;
  }

  @media (max-width: 480px) {
    font-size: 0.85rem !important;
    padding: 0.2rem !important;
  }
}

.fc-button {
  background-color: #4e85cc !important;
  border-color: #4179c2 !important;
  &:focus {
    background-color: #4c7dbc !important;
    border-color: #4c7dbc !important;
  }
}

.fc-toolbar-title {
  font-size: 1.5rem !important;
  text-align: center !important;
}

.remove-before-after::before,
.remove-before-after::after {
  content: none !important;
  display: none !important;
}
.fc-scrollgrid-sync-inner {
  cursor: pointer;
}

.fc-icon-fa {
  font-family: FontAwesome;
}

.fc-timegrid-now-indicator-container {
  overflow: visible !important;
  .fc-timegrid-now-indicator-arrow {
    &::before,
    &::after {
      content: "";
      width: 100vw !important;
      border-style: solid;
      border-width: 1px 0 0px;
      border-style: dotted;
      position: absolute;
      top: -0.48px;
      border-color: rgba(252, 127, 3, 0.776) !important;
    }

    &::before {
      right: 100%;
    }

    &::after {
      left: 100%;
    }
  }
}

.grid-sumary-container {
  display: grid;
  grid-template-columns: 71px repeat(7, 1fr);
  background-color: #f9f9f9;

  .grid-sumary-item {
    border: 1px solid var(--fc-border-color);
    box-sizing: border-box;
    margin: -1px -0px 0 0;

    &:last-child {
      border-right: none;
    }

    &:first-child {
      border-left: none;
      & > * {
        font-size: 0.84rem !important;
      }
    }
  }
}

.p-menubar.p-component {
  padding: 0.4rem !important;
}

.fc-timegrid-slot-label-cushion {
  font-weight: 400;
}

.fc-timegrid-slot {
  font-size: 1rem !important;
}

.fc-scroller {
  overflow-x: hidden;
}
.full-calendar-container {
  overflow-x: hidden; /* Ocultar el desplazamiento horizontal */
  width: 100%;
}

.fc-col-header-cell-cushion {
  // font-size: 0.9rem !important;
  font-weight: 500;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: 100%;
}

.fc-scrollgrid-sync-inner {
  padding: 0 !important;
  margin: 0 !important;
}
